@import 'css/variables';
@import 'css/perso_variables';

/* Barre de Navigation*/

#nav-menu {
	a {
		color : #fff;
	}
	a:hover {
		color : $navbar-inverse-bg;
	}
}

#nav {
	.affix {
		z-index : 200;
		background-color : $navbar-inverse-bg;
		width :100%;
		left: 0;
		.active {
			background-color : $navbar-default-bg;
			a {
				color : $navbar-inverse-bg;
			}
		}
	}
}

// Fragen.
section#rubrique-26 {
	background-color: #492d43;
	padding-top: 3.125em;
	padding-bottom: 9.375em;
	h1 {
		text-align: left;
		color: white;
		margin-bottom: 1.25em;
	}
	.faq {
		position: relative;
		dl {
			text-align: center;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			dt, dd {
				span {
					padding: 4em 0.5em;
					display: inline-block;
				}
			}
			dt {
				padding: 0;
				cursor: pointer;
				width: 40%;
				color: #1f3455;
				font-size: 1.75em;
				font-family: open_sansitalic;
				text-transform: italic;
				line-height: normal;
				font-weight: normal;
			}
			dt:nth-of-type(1) {
				background-color: #c6d5e2;
				width: 25%
			}
			dt:nth-of-type(2) {
				background-color: #ac6e85;
				width: 35%;
			}
			dt:nth-of-type(3) {
				background-color: #d297af;
			}
			dt:nth-of-type(4) {
				background-color: #a68a93;
			}
			dt:nth-of-type(5) {
				background-color: #c18682;
				width: 27%;
			}
			dt:nth-of-type(6) {
				background-color: #bedaf2;
				width: 33%;
			}
			dd {
				display: none;
			}
		}
		.modal {
			width: 100%;
			background-color: #c6d5e2;
			border-radius: 0;
			height: 100%;
			left: 0;
			margin-left: 0;
			position: absolute;
			top: 0;
			align-items: center;
			display: flex;
			.close {
				font-size: 4em;
				position: absolute;
				right: 0.2em;
				top: 0.3em;
				color: #492d43;
				font-weight: normal;
				opacity: 1;
				float: none;
				font-family: open_sanslight;
			}
			dl {
				padding: 0 2.5em;
				display: block;
			}
			dt {
				text-align: left
			}
			dt:nth-of-type(1) {
				width: 100%
			}
			dd {
				display: block;
				padding: 0;
				text-align: left;
			}
		}
	}
}